body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lavender;
  }
  .card {
    width: 80%;
    max-width: 700px;
    background-color: lightblue;
    transition-property: background-color;
    transition-duration: 3s;
    transition-delay: 0.25s;
  }
  .card-body {
    padding: 40px;
  }
  